body {
  margin: 0;
  padding: 0;
}

.ant-card-head-title {
  font-size: larger;
}

.top-menu {
  display: flex;
  justify-content: space-between;
}

.top-menu .ant-menu-item:nth-last-child(3),
.top-menu .ant-menu-item:last-child {
  margin-left: auto;
}

.custom-input {
  width: 400px;
  height: 70px;
}

.custom-input ::placeholder {
  font-weight: bold;
  color: black;
}
